/* Home page */

#main-body{
    position:absolute;
    /* background-image: linear-gradient(rgb(0, 255, 191), rgb(0, 255, 191)); */
    background: #f3efff;
    margin: 0;
    padding: 0;
    width: 100%;
    height:88vh;
}

nav a{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: system-ui;
    letter-spacing: 1.2px;
}

.navbar-dark .navbar-nav .nav-link {
    margin: 0px 6px;
}

nav a:hover{
   color: rgb(216, 242, 255)!important;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top:15%;
}

.title h1{
    color: #374079;
    line-height: 0.8;
    text-shadow: 0 3px 0px rgb(192 205 255);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4rem;
}

.devTxt{
    color: #2584ff;
}


.signup-form{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.signup-form input{
    display: block;
    padding: 23px 50px;
    border: none;
    max-width: initial;
    width: 370px;
    background: #d2d2d269;
    border-radius: 5px;
}

.signup-form .reg-btn{
    min-width:370px;
    width: 100%;
    background: #f94c72;
    border: none;
    padding: 10px;
    font-weight: 500;
    box-shadow: 0 8px 18px rgb(255 155 169 / 78%);
}

.login-link{
    margin-left: 25%;
    transform: translate(-25%, 0%);
}

.login-link a{
    text-decoration: none;
}

.user-icon, .mail-icon, .phone-icon, .work-icon, .lock-icon{
    position: absolute;
    padding: 12px 18px;
}

.signup-form i{
    font-size: 1.4rem;
}

@media(max-width:967px){
    .reg-img{
        display: none;
    }

    .signup-form input {
        min-width: fit-content;
        width: inherit;
    }

    .signup-form .reg-btn{
        min-width: auto;
    }

    .signup-form{
        display: block;
        width: 95%;
    }

    .form-div{
        padding: 15px!important;
    }

    .login-link{
        color: #292929;
        margin-left: 20%;
        transform: translate(0%, 30%);
    }

    .login-link a{
        color: #292929;
        position: unset;
        margin: 5% 0;
    }

    .title h1{
        font-size:2.5rem;
    }
}

/* Login form css ============ */

.login-form{
    border-radius: 16px;
    border: 2px solid white;
}

.login-form input{
    padding: 25px 15px;
    border: none;
    background:#e8e8e8!important;
    border-radius: 5px;
}

.login-form .btn-login{
    width: 100%;
    background: #f94c72;
    border: none;
    padding: 10px;
    line-height:2;
    font-weight: 500;
    box-shadow: 0 8px 18px rgb(255 155 169 / 78%);
}

.stretched-link{
    font-weight: 500;
    text-decoration: none;
}

.user-icon-login{
    position: inherit;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #71ffd1;
    margin-bottom:10%;
    margin-left: 50%;
    transform: translate(-50%, 12%);
}

/* contact us form */

#contact_formm input{
    background-color: #f4f4f4;
    border: none;
    padding: 23px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

#contact_formm textarea{
    background: #f4f4f4;
    border: none;
    border-radius: 8px;
    padding: 15px;
}

/* About Us page */

.user-img .textChngeImg{
  background-color: #000000;  
  height: 30px;
  line-height: 30px;
  font-size:0.8rem;
  text-align: center;
  color: #f3efff;
 position: relative;
}

.user-img img{
    width: 100%;
}

.lists li{
    margin: 5px 0;
    border-radius: 4px;
    background: rgb(231, 232, 255);
    padding-left:10px;
    list-style:none;
    line-height: 2;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 3px solid #4596ff;
    font-weight:600;
}

.lists-about{
    list-style:none;
    color:#2584ff;
}

/* Error 404 page */

.not_found{
    margin-top:15%;
    margin-left: 50%;
    transform: translate(-50%, -40%);
    width: 50%;
}

.not_found h1{
    font-weight: 800;
    font-size:900%!important;
    text-align: center;
    color: #e5dfdf;
}


.number404 h3{
    font-weight:600;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

.number404 p{
    font-weight:100;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    /* letter-spacing: 1.5px; */
}

.btnDiv{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    margin-top: 36px;
}

.backBtn a{
    border-radius: 25pc;
    padding: 13px 25px;
    background-color: #0073ff;
    color: rgb(255, 255, 255);
    position: relative;
    text-transform: uppercase;
    font-size:1.1rem;
}